mat-form-field{
  width: 400px;
}

.fi{
  margin-right: 7px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

.converter{
  min-height: 30px;
  font-size: large;
}

.bold{
  font-weight: bolder;
}

.form_box{
  display: flex;
}
